#navbar{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding:0;
    list-style-type:none;
    border-bottom: 2px solid #ccc;
    /* width: 100%; */
}
#list{
    padding:15px;
    font-size: x-large;
}
#link{
    text-decoration: none;
    color: black;
}